<h2>LogIn</h2>
<div>
    <form action="/login" method="POST">
        <input type="email" name="eMail" id="eMail">
        <input type="password" name="password" id="password">
        <button type="submit">Ingresar</button>
    </form>
    <a  href="/github" >Entrar con Github</a>
    <a href="/sendrecoverymail">Recuperar Password</a>
</div>