<h2>Recuperar Password</h2>
<div>
    <form action="/sendrecoverymail" method="POST">
        <input type="email" name="eMail" id="eMail" required="true">
        <button type="submit">Enviar Mail</button>
    </form>
</div>